<h2>{{title}}</h2>
<div class="question-edit">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{ 'has-error has-feedback': hasError('Text') }">
            <label for="text">Question text:</label>
            <br />
            <textarea id="text" class="form-control"
                      formControlName="Text" required
                      placeholder="enter a suitable text..">
            </textarea>
            <span *ngIf="hasError('Text')" class="form-control-feedback" aria-hidden="true"></span>
            <div *ngIf="hasError('Text')" class="help-block">
                This is a required field: please insert a valid title.
            </div>
        </div>
        <div>
            <button *ngIf="editMode" type="submit" class="btn btn-success" [disabled]="form.invalid">Apply Changes</button>
            <button *ngIf="!editMode" type="submit" class="btn btn-success" [disabled]="form.invalid">Create the Question!</button>
            <button *ngIf="!editMode" type="submit" class="btn btn-default" (click)="onBack()">Cancel</button>
        </div>
    </form>
    <answer-list *ngIf="editMode" [question]="question"></answer-list>
</div>

<div class="panel panel-info" style="margin-top: 20px;">
    <div class="panel-heading">Form debug info</div>
    <div class="panel-body">
        <p><strong>Form value:</strong></p>
        <div class="help-block">
            {{ form.value | json }}
        </div>
        <p><strong>Form status:</strong></p>
        <div class="help-block">
            {{ form.status | json }}
        </div>
        <p><strong>Form activity log:</strong></p>
        <div class="help-block">
            <span *ngIf="activityLog" [innerHTML]="activityLog"></span>
        </div>
    </div>
</div>