<h2>{{title}}</h2>
<div class="question-edit">
    <div class="form-group">
        <label for="text">Question text:</label>
        <br />
        <textarea id="text" class="form-control" [(ngModel)]="question.Text" placeholder="enter a suitable text.."></textarea>
    </div>
    <div>
        <input *ngIf="editMode" type="button" class="btn btn-success" value="Apply Changes" (click)="onSubmit(question)" />
        <input *ngIf="!editMode" type="button" class="btn btn-dark" value="Create the Question!" (click)="onSubmit(question)" />
        <input type="button" value="Cancel" class="btn btn-primary" (click)="onBack()" />
    </div>

    <answer-list *ngIf="editMode" [question]="question"></answer-list>
</div>